.mvmBorder{
    width: 800px;
    padding: 50px;
    border: 1px solid black;
  }

.mvmMain {
    margin: auto;
    max-width: 950px;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
    padding: 50px;
    border: 2px solid black;
  }

  .mvmRow{
    display: flex;
    justify-content: space-around;
  }

.mvmName{
    font-size: 37.6301px;
    font-weight: 700; 
    font-style: normal; 
    color: rgb(84, 84, 84); 
    text-decoration: none;
    overflow-wrap: break-word;
    width: 369.23px;
    height: 150.7px;
}

.mvmObjective{
    font-size: 20.0496px;
    color: rgb(3, 152, 158);
    line-height: 1.4em;
    letter-spacing: 0.793em;
    --para-spacing: 0;
    text-transform: uppercase;
    --head-indent: 0;
    --numeric-list-marker: none;
    list-style-type: none;
    overflow-wrap: break-word;
    width: 369.23px;
    height: 150.7px;
}

.mvmContact{
    width: 221.201px;
    height: 97.5657px;
    transform: scaleX(1) scaleY(1);
    transform-origin: 0px 0px;
    display: block;
    font-size: 62.5%;
    font-weight: 400;
    font-style: normal;
    color: rgb(50, 50, 50);
    text-decoration: none;
    line-height: 1.4em;
    letter-spacing: 0em;
    text-transform: none;
    list-style-type: none;
}

.mvmBackGround{
    transform-origin: top left;
    transform: translate(35.7883px, -25.5788px);
    overflow: visible;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: scale(1.14786);
    width: 369.23px;
    height: 150.7px;
    outline: none;
}

.mvmDivColor{
    padding: 15px;
    background:#FCFCFC;
    background-clip: border-box;    
    width: 469.23px;
    height: 150.7px;
}

.mvmRegularTitle{
    font-family: "YACgEQNAr7w 0", _fb_, auto;
    font-size: 20.0688px;
    color: rgb(50, 50, 50);
    line-height: 1.4em;
    letter-spacing: 0em;
    --para-spacing: 0;
    text-transform: uppercase;
    --head-indent: 0;
    --numeric-list-marker: none;
    list-style-type: none;
    font-weight: 700;
    font-style: normal;
}

.mvmMidTitle{
    font-family: "YACgEQNAr7w 0", _fb_, auto;
    font-size: 15.0688px;
    color: rgb(50, 50, 50);
    line-height: 1.4em;
    letter-spacing: 0em;
    --para-spacing: 0;
    text-transform: uppercase;
    --head-indent: 0;
    --numeric-list-marker: none;
    list-style-type: none;
    font-weight: 700;
    font-style: normal;
}
.mvmTextMain{
    font-family: "YACgEUrhTw0 0", _fb_, auto;
    font-size: 15.9663px;
    color: rgb(50, 50, 50);
    line-height: 1.4em;
    letter-spacing: 0em;
    --para-spacing: 0;
    text-transform: none;
    --head-indent: 0;
    --numeric-list-marker: none;
    list-style-type: none;
    font-weight: 600;
    font-style: normal;
}

.mvmTextRegular{
    font-family: "YACgEUrhTw0 0", _fb_, auto;
    font-size: 14.9663px;
    color: rgb(50, 50, 50);
    line-height: 1.4em;
    letter-spacing: 0em;
    --para-spacing: 0;
    text-transform: none;
    --head-indent: 0;
    --numeric-list-marker: none;
    list-style-type: none;
    font-weight: 400;
    font-style: normal;
}

.mvmTextRegularBold{
    font-family: "YACgEUrhTw0 0", _fb_, auto;
    font-size: 14.9663px;
    color: rgb(50, 50, 50);
    line-height: 1.4em;
    letter-spacing: 0em;
    --para-spacing: 0;
    text-transform: none;
    --head-indent: 0;
    --numeric-list-marker: none;
    list-style-type: none;
    font-weight: 700;
    font-style: normal;
}

.mvmBox{
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.mvmDivColumn{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    
  }

  .mvmRegularTable{
        border-collapse: collapse;
    
  }